* {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

header {
    display: block;
    text-align:center;
    padding: 2rem;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    background-color: rgb(247, 247, 247);
}

form label  {
    background-color: rgb(247, 247, 247);
}

.container p  {
    background-color: rgb(247, 247, 247);
    font-size: 2rem;
    text-align: center;
}

#amount  {
    border-radius: 1rem;
    width: 40%;
    margin: .8rem;
    padding: .4rem;
    border: .1rem solid rgb(189, 188, 188);
}

input[type=text], select {
  width: 100%;
  display: inline-block;
  padding: 0.5rem;
  border: 0.1rem solid rgb(189, 188, 188);
  border-radius: .5rem;
  margin: .1rem; 
  box-sizing: border-box;
  }

   .convert-button {
    
    background-color: #059862;
    color:white;
    padding: .6rem;
    border: none;
    border-radius: 2rem;
    margin-left: 5rem;
    min-width: 10rem;
  }


.container {
    display: flex;
    margin: 0 auto;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 50vh;
    background-color: rgb(247, 247, 247);
    border-radius: 2rem;
}

.icon-github-circled-alt2 {
    font-size: 3rem;
    display: inline;
    text-align: center;
    margin-top: 2rem;
    box-sizing: border-box;
    text-decoration: none;
}

.amount-row {
    background-color:  rgb(247, 247, 247);
   
    
}

span {
  background-color:   rgb(247, 247, 247);
}

@media only screen and (max-width: 1015px) {

    .icon-github-circled-alt2 {
        font-size: 7rem;
    }

    .container {
        height: 35VH;
    }
    .convert-button {
        margin-left: .6rem;
        ;
    }
}

@media only screen and (max-width: 752px) {

    #amount  {
        width: 100%;
    display: inline-block;
    padding: 0.5rem;
    border: 0.1rem solid rgb(189, 188, 188);
    border-radius: .5rem;
    margin: .1rem; 
    box-sizing: border-box;
    }

    .convert-button {
        margin-top: 1rem;
    width: 100%;
    display: inline-block;
        
    }

}



@media only screen and (max-width: 530px) {

    .container {
        height: auto;
        width: 80vw;
        border-radius: none;

    }

    .icon-github-circled-alt2 {
        font-size: 10rem;
    }
    


  .convert-button {

    margin-top: 1rem;
    width: 100%;
    display: inline-block;
    
}

.container p  {
    margin-top: 1rem;
    background-color: rgb(247, 247, 247);
    font-size: 1.6rem;
    
}


}

@media only screen and (max-width: 440px) {
    h1 {
        font-size: 1.3rem;
    }

    p {
        font-size: 1.2rem;
    }

    .icon-github-circled-alt2 {
        font-size: 7rem;
    }

}